body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}
.portfolio-item {
  margin: 20px;
  padding: 20px;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(51, 50, 50, 0.1);
  -moz-box-shadow: 5px 5px 13px 0px rgba(51, 50, 50, 0.1);
  box-shadow: 5px 5px 13px 0px rgba(51, 50, 50, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.portfolio-item:hover {
  box-shadow: 5px 5px 13px 0px rgba(51, 50, 50, 0.3);
}

.portfolio-item > img {
  height: 300px;
}

#title-portfolio {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0;
  margin: 0;
}

footer {
  margin-top: auto;
  padding: 50px;
  background: #f3f5f4;
  position: sticky;
}
